<h2>Home Page</h2>

@if (User.Identity.IsAuthenticated)
{
  <div>The User IS Authenticated.</div>

  <p>Hello, @User.Identity.Name!</p>

  <a asp-action="Manage">Manage Your Account</a>

  <form method="POST" asp-action="Logout">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Log Out</button>
    </div>
  </form>
}
else
{
  <div>The User is NOT Authenticated.</div>

  <div class="row">
    <div class="col-md-6">
      <form method="POST" asp-action="Login">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name="name" id="name" placeholder="Enter your name here." 
            class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </form>
    </div>
  </div>
}